<h1 class="text-center t-white shadow-text fnt-txt">Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="text-center ">
  <div class="field  container">
  <div class=" container ">
    <%= f.label :email,class:'t-white fnt-txt fnt-20 ' %><br />
    <%= f.email_field :email, autofocus: true,class:'form-control shadow-black',placeholder:'eg: abc@xyz.com', autocomplete: "email" %>
  </div>
  </div>

  <div class="field container">
  <div calss=" container">
  <div class="container">
    <%= f.label :password,class:'t-white fnt-txt fnt-20' %><br />
    <%= f.password_field :password, autocomplete: "current-password",placeholder:'password',class:'form-control shadow-black' %>
  </div>
  </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me,class:'t-white fnt-txt fnt-20' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" ,class:'btn btn-warning px-4'%>
  </div>
  </div>
<% end %>

  <%= render "devise/shared/links" %>
